:root{
    --redBkgnd: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --darkGreen: hsl(154, 57%, 46%);

    --blue: hsl(248, 32%, 49%);

    --lightGrey: hsl(0, 0%, 87%);
    --darkGrey: hsl(250, 3%, 45%);
    --mediumGrey: hsl(251, 10%, 65%);
}


body{
    background: var(--redBkgnd) url(./images/bg-intro-mobile.png);
    margin: auto 27px auto 28px;
}


#intro{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 92px auto auto auto;
}

#intro h1{
    color: white;
    font-size: 28px;
    line-height: 36px;
}

#intro p{
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 23px auto auto auto;
    line-height: 26px;
}


#pricing-section{
    background-color: var(--blue);
    height: 87px;
    border-radius: 10px;
    text-align: center;
    margin-top: 62px;

    box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 20%);
}

#pricing-section p{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 26px;

    padding-top: 19px;
    padding-left: 56px;
    padding-right: 56px;

    
}

#sign-up-form{
    background-color: white;
    margin: 25px auto auto auto;
    border-radius: 10px;
    padding: 24px;

    box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 20%);
}

/*labels are for screenreaders only*/
label{
    display: none; 
}

input{
    height: 55px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 17px;

    border: 1px solid var(--lightGrey);
    border-radius: 5px;

    padding-left: 19px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

::placeholder{
    color: var(--darkGrey);
    opacity: 1;
}

#submit-button{
    padding: unset;
    background-color: var(--green);
    height: 53px;

    color: white;
    text-transform: uppercase;
    font-size: 16px;

    border: none;
    box-shadow: 0px 4px 0px 0px var(--darkGreen);

}

#tos-notice{
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    text-align: center;
    line-height: 22px;

    color: var(--mediumGrey);

    margin-top: -6px;
    padding-left: 16px;
    padding-right: 16px;

    margin-bottom: -2px;
}

#tos-link{
    color: var(--darkGreen);
    font-weight: 700;
    text-decoration: none;
}


footer{
    position: absolute;
    right: 0;
    bottom: 0;
}



@media only screen and (min-width: 1000px){
    body{
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 50% 50%;
        padding: auto;
    }

    #intro{
        grid-column: 1;
        grid-row: 1;
    }



    #intro{
        margin: 296px auto auto 138px;
        text-align: left;
        
    }

    #intro h1{
        font-size: 48px;
        line-height: 54px;
        margin: unset;
    }

    #intro p{
        margin: 31px auto auto auto;
    }

    #pricing-and-form{  
        grid-column: 2;
        margin-right: 134px;
        margin-top: 105px;
        width: 539px;
    }

    #pricing-section{
        height: 60px;
        margin: unset;
        position: relative;
    }

    #pricing-section p{
        padding-top: 19px;
    }

    #sign-up-form{
        padding: 39px;
    }

    input{ 
        height: 56px;
        margin-bottom: 20px;
    }



    #tos-notice{
        margin-bottom: 2px;
    }

}