:root{
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);

    --blue: hsl(248, 32%, 49%);

    --darkBlue: hsl(249, 10%, 26%);
    --grayishBlue: hsl(246, 25%, 77%);
}


body{
    background: var(--red) url(./images/bg-intro-mobile.png);
    margin: auto 27px auto 28px;
}


#intro{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 90px auto auto auto;
}

#intro h1{
    color: white;
    font-size: 28px;
    line-height: 36px;
}

#intro p{
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 23px auto auto auto;
    line-height: 26px;
}


#pricing-section{
    background-color: var(--blue);
    height: 87px;
    border-radius: 10px;
    text-align: center;
    margin-top: 62px;

    box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 20%);
}

#pricing-section p{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 26px;

    padding-top: 19px;
    padding-left: 56px;
    padding-right: 56px;

    
}

#sign-up-form{
    background-color: white;
    margin: 25px auto auto auto;
    border-radius: 10px;
    padding: 10px;
}